/*@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Lobster&display=swap&subset=cyrillic');*/

/*font-family: 'Dancing Script', cursive;
font-family: 'Lobster', cursive;*/
body {
    margin: 0;
    padding: 0;
}
.backg {
    height: 700px;
    width: 100%;
    background-image: url(./Img/creattion-demo-font-10-big.png);
    background-repeat: no-repeat;
    border: 1px solid blue;
    position: absolute;
    z-index: -1;
}

.text {
    width: 300px;
    height: 150px;
    border: 1px solid blue;
    margin-top: 100px;
    margin-left: 100px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    line-height: 30px;
    background-color: burlywood;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@font-face {
    font-family: Creattiion Demo;
    src: url(./Fonts/Creattion\ Demo.otf);
}
 
p {
    position: relative;
    width: 300px;
    height: 200px;
    border: 1px solid blue;
    margin-top: 100px;
    margin-left: 100px;
    font-family: Creattiion Demo;
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
    background-color: coral;
    overflow: hidden;
}   
@font-face {
    font-family: FunnyFrank;
    src: url(./Fonts/17709.otf);
}
h6 {
    width: 300px;
    height: 200px;
    border: 1px solid blue;
    margin-top: 100px;
    margin-left: 100px;
    font-family: FunnyFrank;
    font-size: 25px;
    line-height: 30px;
    background-color: darkgray;
}        
p:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: gray;
    opacity: 0.4;
    border-radius: 50% 50% 50% 50%;
    cursor: pointer;
}